<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">

    <!--FontAwesome CDN-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
        integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <!--Chartjs CDN-->
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <title>Document</title>
    
</head>
<body>
    {% include 'navbar.html'%}
   
    <div class="container">
        <div class="row my-4">
            <div class="col-md-8 mx-auto">
                <div class="card">
                    <div class="card-header bg-success text-white">
                        Page de Statistiques
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                {% if status %}
                                <div class="alert alert-success">{{status}}</div>
                                {% endif %}
                                <span class="h4" >Statistiques d'utilisateur</span> 
                                <hr>  
                                    <form action="" method="post" class="form-inline">
                                       

                                      
                                        {% csrf_token %}
                                       
                                        {{ form.as_p }}
                                        
                                        <br>
                                        <div>
                                        <div class="form-inline float-right">
                                            <input type="submit" name="changeprofile" value="Enregistrer" class="btn btn-success " style="border-radius:20px;">
                                        </div> </div>
                                    </form>                                                                             
                            </div>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</body>
</html>